<!-- Clients Aside -->
    
        <div class="container sponsors-section">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.msit.go.kr/" class="portfolio-link" data-toggle="modal">
                        <img class="img-fluid d-block mx-auto" src="../css/2017_style/img/sponsors/MSIT.png" class="img-responsive img-centered sponsor-image" alt="" style="max-width: 240px">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.iitp.kr/" class="portfolio-link" data-toggle="modal">
                        <img class="img-fluid d-block mx-auto" src="../css/2017_style/img/sponsors/IITP.png" class="img-responsive img-centered sponsor-image" alt="" style="max-width: 240px">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.kadif.kr/" class="portfolio-link" data-toggle="modal">
                        <img class="img-fluid d-block mx-auto" src="../css/2017_style/img/sponsors/KADIF.png" class="img-responsive img-centered sponsor-image" alt="" style="max-width: 240px">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>
                </div>
            </div>
        </div>