<style>
body {
  position: absolute;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="copyright">© {{ 'now' | date: "%Y" }} <a href="https://www.kiapi.or.kr">Korea Automotive Parts Promotion Institute(KIAPI)</a>, Research&Development Department, All Rights Reserved.</span>
                <span> 본 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며, 이를 위반시 정보통신망법에 의해 형사처벌됨을 유념하시기 바랍니다.</span>
            </div>
        </div>
    </div>
</footer>